* {
    border: 1px solid red;

}

html{
    height: 100%;
    margin-top: 0;
}

@font-face {
    font-family: 'ViceCitySans'; /*a name to be used later*/
    src: url('Fonts/ViceCitySans.otf'); /*URL to font*/
}

body {
    background-color: rgb(24, 24, 24);
    margin: 0;
    color: white;
}
.Navbar {
    background-color: rgb(32, 32 ,32);
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 0;
    z-index: 1;
}

#hamburgerMenu {
    height: 20px;
    padding: 5px;
    margin: 10px;
}

#youtubeLogo {
    height: 40px;
    /*margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;*/
    margin: 10px -3px 10px 10px
}

#youtubeLogoName {
    font-family: 'ViceCitySans';
    left: 30px;
    font-size:1.4em ;
    padding-top: 10px; 
}



.searchBar {
    margin: 0 auto;
    display: block;
    position: relative;
}

#search {
    background-color: rgb(18, 18, 18);
}

#searchButton {
    background-color: rgb(49, 49, 49);
    color:white;
}

.mainContainer {
    height: 100%;
    display: flex;
    /*width: 100vmin; */
}

.video-Half-Left {
float:left;
display:flex;
flex-direction: column;
flex-flow: column; 
width:60%;
}

.iframeContainer{
   flex-flow: column;
    align-items: center;
    /*width: 100%;*/
    justify-content: center;
    margin-top: 5em;
    align-self: center;
}

.underVideoContainer{
    width: 100%;
    /*position: absolute;*/
}

#location{
    height: 25px;
}

.suggestion-Half-Right {
float:right;
display: inline-flex;
width: 40%;
}

